
.navbarhgres
{
  background: red;
}
.navbarhgres .logo .imglogo{
  margin-top: auto;
  width: 100%;
  height: 100%;
}

.navbarhgres .navmenu
{
  margin-top: 3%;
  margin-bottom: 0;
}
.navbarhgres .navmenu a
{
  color: white;
  text-decoration: none;
}
.navbarhgres .navmenu li
{
  list-style-type: none;
  display: inline-block;
  padding: 3px;
}

.vagoni{
  text-align: center;
  margin-top: 10px;
}
.contenitoreslide{
  width: 100%;
  height: 100%;
  position: relative;

}

.card{
  width: 300px;
  height: 300px;
  background: #262626;
  overflow: hidden;
  margin: 10px auto;
}

.card .imgBx,
.card .details
{
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;

}

.card .imgBx
{
top: 0;
left: 0;
}

.card:hover .imgBx
{
top: 0;
left: -100%;
}

.card .imgBx img
{
margin-left: 10px;
width: 95%;
}

.card .details{
  background: #262626;
  top: 0;
  left: 100%;
  padding: 6px 3px;
}

.card:hover .details{
  top: 0;
  left: 0;
}

.card .details h2{
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;
}

.card .details p{
  color: #fff;
  margin: 20px 0 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;
}
section.offerte{
  background-color: #9FAF95;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.offerte .offerta{
margin-bottom: 5%;
}
section.offerte .offerta img{
  width: 100%;
  height: auto;
}
footer{
  background-color: #282828;
}
.finale{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
}
/*parte javascript*/
.contenitorejs{
  margin-top:10%;
  margin-bottom:10%;
  width: 50%;
  height: 300px;
  margin:auto;

}
